body{
	text-align: center;
}

h1, h2, h3, h4{
	color: #5f3577;
}

.nav li a{
	color: #b379a6;
	transition: all .4s;
}

.nav-pills li a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
	background-color: #5f3577;
	color: #fff; 
}

.ng-invalid.ng-dirty{
	border-color: #fa787e;
}

.ng-valid.ng-dirty{
	border-color: #78fa89;
}