body{
	text-align: center;
}

h1, h2, h3, h4{
	color: #5f3577;
}

.nav li a{
	color: #b379a6;
	transition: all .4s;
}

.nav li a:hover,
.nav li.active a,
.nav li.active a:hover{
	background: #5f3577;
	color: #fff; 
}